<h1>Create a Goal</h1>
<form action="<%= goals_url%>" method="post" accept-charset="utf-8">
  <label for="goal_content" ><input type="text" name="goal[content]" id= "goal
    _content" value="<%= @goal.content %>"></label>
    
  <label for="goal_ppublic" >
    <select name="goal[ppublic]" id="goal_ppublic">
      <option value="<%= true %>">Public</option>
      <option value="<%= false %>">Private</option>
    </select>
  </label>
      
  <label for="goal_completion" >
    <select name="goal[completion]" id="goal_completion">
    
      <option value="<%= true %>">Completed</option>
      <option value="<%= false %>">Not Completed</option>
    </select>
  </label>

  <p><input type="submit" value="Create a New Goal"></p>
</form>