<!DOCTYPE html>
<html>
<head>
  <title>MyGoalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
<%= button_to('Log Out', session_url, method: :delete)%>
<%= current_user.user_name %>
<% else %>
<% link_to('Sign In', new_session_url)%>
<% link_to('Sign Up', new_user_url)%>
<% end %>

<%= render "layouts/errors"%>
<%= yield %>

</body>
</html>
